h1 {
  color: white;
  font-size: 70px;
  font-weight: bold;
}

#header {
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
  width: 840;
  height: 820;
  background-repeat: no-repeat;
  background-position: center;
}

.button {
  font-size: 18px;
  color: White;
}

.Titles{
  font-size: 23px;
  font-weight: bold;
}

* {
  font-family: Helvetica;
}

#process {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

#copyright {
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}

#design {
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
  width: 840;
  font-size: 23px;
  font-weight: bold;
  color: white;
}

.disc {
  font-size: 14px;
}

h1, #header, .button, .Titles, #Process, #design, .disc {
  text-align: center;
}
